name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    # Once per week (Every Saturday at 08:00 UTC)
    - cron: '0 8 * * 6'
  workflow_dispatch: # can be started manually

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/astree-docker:25.10 .
          
      - name: Run tests
        run: |
          docker run --rm ${{ secrets.DOCKERHUB_USERNAME }}/astree-docker:25.10  /bin/bash

      - name: Push image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/astree-docker:25.10
